<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cove.bloom.model.dao.ReportMapper">

    <resultMap id="reportResultMap" type="com.cove.bloom.model.dto.ReportDTO">
        <id property="repNo" column="rep_no"/>
        <result property="repMem" column="rep_mem"/>
        <result property="repRmem" column="rep_rmem"/>
        <result property="repRea" column="rep_rea"/>
        <result property="repDate" column="rep_date"/>
    </resultMap>



    <select id="findAllReport" resultMap="reportResultMap">
        SELECT  rep_no
                ,rep_mem
                ,rep_rmem
                ,rep_rea
                ,rep_date
        FROM  report
    </select>

    <insert id="registReport" parameterType="com.cove.bloom.model.dto.ReportDTO">
        INSERT INTO report (
        rep_mem
        , rep_rmem
        , rep_rea
        , rep_date
        )
        VALUES(
        #{ repMem }
        ,#{ repRmem }
        ,#{ repRea }
        ,CURDATE()
        )
    </insert>

    <update id ="updateReport" parameterType="com.cove.bloom.model.dto.ReportDTO">
        UPDATE REPORT
            SET REP_REA = #{repRea}
            WHERE REP_NO = #{repNo}

    </update>

    <delete id ="deleteReport" parameterType="_int">
        DELETE
        FROM report
        WHERE rep_no = #{deleteNum}

    </delete>






</mapper>